<h1 class="text-center">Place Attachment Relation</h1>
<p>
  <strong>Place: </strong>
  <%= link_to @place_attachment_relation.place.name, @place_attachment_relation.place %>
</p>
<p>
  <strong>Attachment: </strong>
  <%= link_to @place_attachment_relation.attachment.name, @place_attachment_relation.attachment %>
</p>
<p>
  <strong>Active: </strong>
  <%= @place_attachment_relation.active %>
</p>
<p class="text-center">
  <%= link_to "Edit", edit_place_attachment_relation_path(@place_attachment_relation), class: "btn btn-warning " %>
  <%= link_to "Delete", place_attachment_relation_path(@place_attachment_relation), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Place Attachment Relations", place_attachment_relations_path, class: "btn btn-primary"  %>
</p>
