<h1 class="text-center">Update Company Thing Relation</h1>
<%= simple_form_for(@company_thing_relation) do |f| %>
  <%= f.error_notification %>
  <%= f.association :company %>
  <%= f.association :thing %>
  <%= f.input :acquired_date, placeholder:"Acquired Date", label: "Acquired Date" %>
  <%= f.input :disposed_date, placeholder:"Disposed Date", label: "Disposed Date" %>
  <%= f.input :active, placeholder:"Active", label: "Active" %>
  <%= f.button :submit, "Update Company Thing Relation", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-warning" %>
  <%= link_to "Company Thing Relations", company_thing_relations_path, class: "btn btn-primary"  %>
<% end %>
