<h1 class="text-center">Company Attachment Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Company Attachment Relation", new_company_attachment_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Company</th>
      <th>Attachment</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @company_attachment_relations.each do |company_attachment_relation| %>
      <tr>
        <td><%= link_to company_attachment_relation.company.name, company_attachment_relation.company %></td>
        <td><%= link_to company_attachment_relation.attachment.name, company_attachment_relation.attachment %></td>
        <td><%= link_to company_attachment_relation.active, company_attachment_relation_path(company_attachment_relation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
