<h1 class="text-center">New Person Attachment Relation</h1>
<%= simple_form_for(@person_attachment_relation) do |f| %>
  <%= f.error_notification %>
  <%= f.association :person %>
  <%= f.association :attachment %>
  <%= f.input :active, placeholder:"Active", label: false %>
  <%= f.button :submit, "Add Person Attachment Relation", class: "btn btn-primary" %>
  <%= link_to "Person Attachment Relations", person_attachment_relations_path, class: "btn btn-primary"  %>
<% end %>
