<h1 class="text-center">Thing</h1>
<p>
  <strong>Name: </strong>
  <%= @thing.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= @thing.description %>
</p>
<p>
  <strong>Active: </strong>
  <%= @thing.active %>
</p>
<p class="text-center">
  <%= link_to "Edit", edit_thing_path(@thing), class: "btn btn-warning " %>
  <%= link_to "Delete", thing_path(@thing), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
</p>
<h2 class="text-center">Company Thing Relations</h2>
<%= link_to 'Add Company Thing Relation', new_company_thing_relation_path(thing_id: @thing.id), class: "btn btn-primary" %>
<table class="table table-bordered">
  <thead>
    <tr>
<th>Company</th>
<th>Acquired Date</th>
<th>Disposed Date</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @thing.company_thing_relations.each do |company_thing_relation| %>
<tr>
  <td><%= link_to company_thing_relation.company.name, company_thing_relation.company %></td>
  <td><%= link_to company_thing_relation.acquired_date, company_thing_relation %></td>
  <td><%= company_thing_relation.disposed_date %></td>
  <td><%= company_thing_relation.active %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Person Thing Relations</h2>
<%= link_to 'Add Person Thing Relation', new_person_thing_relation_path(thing_id: @thing.id), class: "btn btn-primary" %>
<table class="table table-bordered">
  <thead>
    <tr>
<th>Person</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @thing.person_thing_relations.each do |person_thing_relation| %>
<tr>
  <td><%= link_to person_thing_relation.person.name, person_thing_relation.person %></td>
  <td><%= link_to person_thing_relation.active, person_thing_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Thing Place Relations</h2>
<%= link_to 'Add Thing Place Relation', new_thing_place_relation_path(thing_id: @thing.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Place</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @thing.thing_place_relations.each do |thing_place_relation| %>
<tr>
  <td><%= link_to thing_place_relation.place.name, thing_place_relation.place %></td>
  <td><%= link_to thing_place_relation.active, thing_place_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Thing Event Relations</h2>
<%= link_to 'Add Thing Event Relation', new_thing_event_relation_path(thing_id: @thing.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Event</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @thing.thing_event_relations.each do |thing_event_relation| %>
<tr>
  <td><%= link_to thing_event_relation.event.name, thing_event_relation.event %></td>
  <td><%= link_to thing_event_relation.active, thing_event_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Thing Attachment Relations</h2>
<%= link_to 'Add Thing Attachment Relation', new_thing_attachment_relation_path(thing_id: @thing.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Attachment</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @thing.thing_attachment_relations.each do |thing_attachment_relation| %>
<tr>
  <td><%= link_to thing_attachment_relation.attachment.name, thing_attachment_relation.attachment %></td>
  <td><%= link_to thing_attachment_relation.active, thing_attachment_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
