<h1 class="text-center">New Thing Attachment Relation</h1>
<%= simple_form_for(@thing_attachment_relation) do |f| %>
  <%= f.error_notification %>
  <%= f.association :thing %>
  <%= f.association :attachment %>
  <%= f.input :active, placeholder:"Active", label: false %>
  <%= f.button :submit, "Add Thing Attachment Relation", class: "btn btn-primary" %>
  <%= link_to "Thing Attachment Relations", thing_attachment_relations_path, class: "btn btn-primary"  %>
<% end %>
