<h1 class="text-center">Person Event Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Person Event Relation", new_person_event_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Person</th>
      <th>Event</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @person_event_relations.each do |person_event_relation| %>
      <tr>
        <td><%= link_to person_event_relation.person.name, person_event_relation.person %></td>
        <td><%= link_to person_event_relation.event.name, person_event_relation.event %></td>
        <td><%= link_to person_event_relation.active, person_event_relation_path(person_event_relation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
