<h1 class="text-center">Company Person Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Company Person Relation", new_company_person_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Company</th>
      <th>Person</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Job Function</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @company_person_relations.each do |company_person_relation| %>
      <tr>
        <td><%= link_to company_person_relation.company.name, company_person_relation.company %></td>
        <td><%= link_to company_person_relation.person.name, company_person_relation.person %></td>
        <td><%= link_to company_person_relation.start_date, company_person_relation_path(company_person_relation) %></td>
        <td><%= company_person_relation.end_date %></td>
        <td><%= company_person_relation.job_function %></td>
        <td><%= company_person_relation.active %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
