<h1 class="text-center">Person Place Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Person Place Relation", new_person_place_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Person</th>
      <th>Place</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @person_place_relations.each do |person_place_relation| %>
      <tr>
        <td><%= link_to person_place_relation.person.name, person_place_relation.person %></td>
        <td><%= link_to person_place_relation.place.name, person_place_relation.place %></td>
        <td><%= link_to person_place_relation.active, person_place_relation_path(person_place_relation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
