<h1 class="text-center">Person Place Relation</h1>
<p>
  <strong>Person: </strong>
  <%= link_to @person_place_relation.person.name, @person_place_relation.person %>
</p>
<p>
  <strong>Place: </strong>
  <%= link_to @person_place_relation.place.name, @person_place_relation.place %>
</p>
<p>
  <strong>Active: </strong>
  <%= @person_place_relation.active %>
</p>
<p class="text-center">
  <%= link_to "Edit", edit_person_place_relation_path(@person_place_relation), class: "btn btn-warning " %>
  <%= link_to "Delete", person_place_relation_path(@person_place_relation), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Person Place Relations", person_place_relations_path, class: "btn btn-primary"  %>
</p>
