<h1 class="text-center">Company</h1>
<p>
  <strong>Name: </strong>
  <%= @company.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= @company.description %>
</p>
<p>
  <strong>Active: </strong>
  <%= @company.active %>
</p>
<p class="text-center">
  <%= link_to "Edit", edit_company_path(@company), class: "btn btn-warning " %>
  <%= link_to "Delete", company_path(@company), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
</p>
<h2 class="text-center">Company Person Relations</h2>
<%= link_to 'Add Company Person Relation', new_company_person_relation_path(company_id: @company.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Person</th>
<th>Start Date</th>
<th>End Date</th>
<th>Job Function</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @company.company_person_relations.each do |company_person_relation| %>
<tr>
  <td><%= link_to company_person_relation.person.name, company_person_relation.person %></td>
  <td><%= link_to company_person_relation.start_date, company_person_relation %></td>
  <td><%= company_person_relation.end_date %></td>
  <td><%= company_person_relation.job_function %></td>
  <td><%= company_person_relation.active %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Company Thing Relations</h2>
<%= link_to 'Add Company Thing Relation', new_company_thing_relation_path(company_id: @company.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Thing</th>
<th>Acquired Date</th>
<th>Disposed Date</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @company.company_thing_relations.each do |company_thing_relation| %>
<tr>
  <td><%= link_to company_thing_relation.thing.name, company_thing_relation.thing %></td>
  <td><%= link_to company_thing_relation.acquired_date, company_thing_relation %></td>
  <td><%= company_thing_relation.disposed_date %></td>
  <td><%= company_thing_relation.active %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Company Place Relations</h2>
<%= link_to 'Add Company Place Relation', new_company_place_relation_path(company_id: @company.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Place</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @company.company_place_relations.each do |company_place_relation| %>
<tr>
  <td><%= link_to company_place_relation.place.name, company_place_relation.place %></td>
  <td><%= link_to company_place_relation.active, company_place_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Company Event Relations</h2>
<%= link_to 'Add Company Event Relation', new_company_event_relation_path(company_id: @company.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Event</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @company.company_event_relations.each do |company_event_relation| %>
<tr>
  <td><%= link_to company_event_relation.event.name, company_event_relation.event %></td>
  <td><%= link_to company_event_relation.active, company_event_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
<h2 class="text-center">Company Attachment Relations</h2>
<%= link_to 'Add Company Attachment Relation', new_company_attachment_relation_path(company_id: @company.id), class: "btn btn-primary" %>
<table class="table table-bordered"'>
  <thead>
    <tr>
<th>Attachment</th>
<th>Active</th>
    </tr>
  </thead>

  <tbody>
    <% @company.company_attachment_relations.each do |company_attachment_relation| %>
<tr>
  <td><%= link_to company_attachment_relation.attachment.name, company_attachment_relation.attachment %></td>
  <td><%= link_to company_attachment_relation.active, company_attachment_relation %></td>
</tr>
    <% end %>
  </tbody>
</table>
