<h1 class="text-center">Company Event Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Company Event Relation", new_company_event_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Company</th>
      <th>Event</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @company_event_relations.each do |company_event_relation| %>
      <tr>
        <td><%= link_to company_event_relation.company.name, company_event_relation.company %></td>
        <td><%= link_to company_event_relation.event.name, company_event_relation.event %></td>
        <td><%= link_to company_event_relation.active, company_event_relation_path(company_event_relation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
