<h1 class="text-center">New Company Event Relation</h1>
<%= simple_form_for(@company_event_relation) do |f| %>
  <%= f.error_notification %>
  <%= f.association :company %>
  <%= f.association :event %>
  <%= f.input :active, placeholder:"Active", label: false %>
  <%= f.button :submit, "Add Company Event Relation", class: "btn btn-primary" %>
  <%= link_to "Company Event Relations", company_event_relations_path, class: "btn btn-primary"  %>
<% end %>
