<h1 class="text-center">Company Event Relation</h1>
<p>
  <strong>Company: </strong>
  <%= link_to @company_event_relation.company.name, @company_event_relation.company %>
</p>
<p>
  <strong>Event: </strong>
  <%= link_to @company_event_relation.event.name, @company_event_relation.event %>
</p>
<p>
  <strong>Active: </strong>
  <%= @company_event_relation.active %>
</p>
<p class="text-center">
  <%= link_to "Edit", edit_company_event_relation_path(@company_event_relation), class: "btn btn-warning " %>
  <%= link_to "Delete", company_event_relation_path(@company_event_relation), method: :delete, class: "btn btn-danger" %>
  <%= link_to "Company Event Relations", company_event_relations_path, class: "btn btn-primary"  %>
</p>
