<h1 class="text-center">Update Thing Event Relation</h1>
<%= simple_form_for(@thing_event_relation) do |f| %>
  <%= f.error_notification %>
  <%= f.association :thing %>
  <%= f.association :event %>
  <%= f.input :active, placeholder:"Active", label: "Active" %>
  <%= f.button :submit, "Update Thing Event Relation", class: "btn btn-primary" %>
  <%= link_to "Cancel", :back, class: "btn btn-warning" %>
  <%= link_to "Thing Event Relations", thing_event_relations_path, class: "btn btn-primary"  %>
<% end %>
