<h1 class="text-center">Thing Event Relations</h1>
<p>
  <%= link_to "Home Page", root_path, class: "btn btn-primary" %>
  <%= link_to "Add Thing Event Relation", new_thing_event_relation_path, class: "btn btn-primary" %>
</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Thing</th>
      <th>Event</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @thing_event_relations.each do |thing_event_relation| %>
      <tr>
        <td><%= link_to thing_event_relation.thing.name, thing_event_relation.thing %></td>
        <td><%= link_to thing_event_relation.event.name, thing_event_relation.event %></td>
        <td><%= link_to thing_event_relation.active, thing_event_relation_path(thing_event_relation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Companies", companies_path, class: "btn btn-primary"  %>
  <%= link_to "People", people_path, class: "btn btn-primary"  %>
  <%= link_to "Things", things_path, class: "btn btn-primary"  %>
  <%= link_to "Places", places_path, class: "btn btn-primary"  %>
  <%= link_to "Events", events_path, class: "btn btn-primary"  %>
  <%= link_to "Attachments", attachments_path, class: "btn btn-primary"  %>
</p>
